# Virtual environments
env/
env3.11/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Other
.vscode

# QtCreator related
arches_project/ui/build/
arches_project/ui/arches_project_ui.pro.user