__pycache__/
*.py[cod]
*$py.class
.coverage
coverage
.vscode
arches_qgis.egg*
.eggs
*.DS_Store

env/
env3.11/

arches_qgis.egg-info/
arches_project/ui/build/
arches_project/ui/arches_project_ui.pro.user